h2 Projects

ul.projects
  - each project in projects
    li
      a(href: '/projects/' + project.id, title: 'View project')
        span= project.name || '(Unknown)'
        - if (project.lastBuild() && project.lastBuild().success)
          span(class: 'status success', href: '/projects/' + project.id, title: 'Edit project') success
        - else if (project.lastBuild() && !project.lastBuild().success)
          span(class: 'status failure', href: '/projects/' + project.id, title: 'Edit project') failure

a(href: '/projects/new', title: 'New project') New project
