!text_color = #333
!link_color = #ed1556
!link_bg = #fff

html
  :background-color #e0e0e0

body
  :font-size 100%
  :font-family "Helvetica Neue, Helvetica, Arial, sans-serif"
  :color !text_color

a
  :color !link_color
  :text-decoration none
  &:hover
    :color !link_bg
    :background-color !link_color

#build.success
  :background-color green

#build.failure
  :background-color red

ul.projects
  :margin 1em 0 2em
  li
    :border solid 1px black
    :list-style none
    a
      :display block
      :font-size 2em
      :font-weight bold
      :padding 0.25em
    &.failure
      :background-color #ffbbaa
      :border-color #dd9988
      a
        :color #ff1100
        &:hover
          :background-color #ffddcc
    &.success
      :background-color #bbf8aa
      :border-color #99d688
      a
        :color #337022
        &:hover
          :background-color #ddffcc
