// Mixins
+rounded-corners
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  :border-radius 5px

!text_color = #333
!link_color = #ed1556
!link_bg = #fff

html
  :background-color #e0e0e0

body
  :font-size 100%
  :font-family "Helvetica Neue, Helvetica, Arial, sans-serif"
  :color !text_color

a
  :color !link_color
  :text-decoration none
  &:hover
    :color !link_bg
    :background-color !link_color

#build.success
  :background-color green

#build.failure
  :background-color red

ul.projects
  :margin 1em 0 2em
  li
    :background-color white
    :border solid 1px black
    :list-style none
    a
      :display block
      :font-size 2em
      :font-weight bold
      :padding 0.25em
    span.status
      +rounded-corners
      :border-style solid
      :border-width 1px
      :display inline
      :float right
      :font-size 1em
      :font-weight bold
      :padding 2px 8px
      &.failure
        :background-color #ffddcc
        :border-color #dd9988
        :color #ff1100
      &.success
        :background-color #ddffcc
        :border-color #99d688
        :color #337022
