h2 Projects

table
  - each project in projects
    tr
      td
        a(href: project_path(project), title: 'Edit project')= project.name()
      td
        - if (project.builds().length)
          = project.lastBuild().success
        - else
          | NA

a(href: new_project_path(), title: 'New project') New project
