h2 Delete Project

form(action: project_path(project), method: 'post')
  input(type: 'hidden', name: '_method', value: 'delete')
  p Are you sure you want to delete this project?

  p
    a(href: project_path(project)) cancel

  p.submit
    button.positive(type: 'submit') Delete project
