h2 Edit Project

form(action: '/projects/' + project.id, method: 'post')
  input(type: 'hidden', name: '_method', value: 'put')

  label(for: 'project[name]') Name
  input(type: 'text', name: 'project[name]', value: project.name)
  br

  label(for: 'project[repositoryUrl]') Repository URL
  input(type: 'text', name: 'project[repositoryUrl]', value: project.repositoryUrl)
  br
  
  label(for: 'project[branchName]') Branch
  input(type: 'text', name: 'project[branchName]', value: project.branchName)
  br

  label(for: 'project[buildCommand]') Command
  textarea(name: 'project[buildCommand]')= project.buildCommand
  
  p.submit
    a(href: '/projects/' + project.id) cancel
    button.positive(type: 'submit') Update project
