h2 Edit Project

form(action: '/projects/' + project.id, method: 'post')
  input(type: 'hidden', name: '_method', value: 'put')

  label(for: 'project[name]') Name
  input(type: 'text', name: 'project[name]', value: project.name)
  br

  label(for: 'project[repository_url]') Repository URL
  input(type: 'text', name: 'project[repository_url]', value: project.repository_url)
  br
  
  label(for: 'project[branch]') Branch
  input(type: 'text', name: 'project[branch]', value: project.branch)
  br

  label(for: 'project[command]') Command
  textarea(name: 'project[command]')= project.command
  
  p.submit
    a(href: '/projects/' + project.id) cancel
    button.positive(type: 'submit') Update project
