h2 New Project

form(action: '/projects', method: 'post')
  label(for: 'project[name]') Name
  input(type: 'text', name: 'project[name]')

  p.submit
    a(href: '/projects') cancel
    button.positive(type: 'submit') Create project
