h2 Project

p
  | Name:
  = project.name

#builds
  p Builds:
  br
  - each build in project.builds.reverse()
    #build(class: build.success == true ? 'success' : 'failure')
      = build.created_at
      - if (build.success == true)
        p SUCCESS!
      - else
        p FAIL!
      br
      strong STDOUT
      pre= build.stdout
      br
      strong STDERR
      pre= build.stderr
    br
p
  a(href: '/projects/' + project.id + '/build', title: 'Rebuild') Rebuild
  | &nbsp;
  a(href: '/projects/' + project.id + '/edit', title: 'Edit project') Edit
  | &nbsp;
  a(href: '/projects/' + project.id + '/delete', title: 'Delete project') Delete
  | &nbsp;
  a(href: '/projects', title: 'Projects') Back
