h2 Project

p
  | Name:
  = project.name

p
  a(href: build_project_path(project), title: 'Rebuild') Rebuild
  | &nbsp;
  a(href: edit_project_path(project), title: 'Edit project') Edit
  | &nbsp;
  a(href: delete_project_path(project), title: 'Delete project') Delete
  | &nbsp;
  a(href: projects_path(), title: 'Projects') Back

#builds
  p Builds:
  br
  - if (project.builds)
    - each build in project.builds.sort(function(a, b) { return b.created_at - a.created_at })
      #build(class: build.success == true ? 'success' : 'failure')
        = build.created_at
        - if (build.success == true)
          p SUCCESS!
        - else
          p FAIL!
        br
        strong STDOUT
        pre= build.stdout
        br
        strong STDERR
        pre= build.stderr
      br
p
  a(href: build_project_path(project), title: 'Rebuild') Rebuild
  | &nbsp;
  a(href: edit_project_path(project), title: 'Edit project') Edit
  | &nbsp;
  a(href: delete_project_path(project), title: 'Delete project') Delete
  | &nbsp;
  a(href: projects_path(), title: 'Projects') Back
