#project-detail.section

  .section-header
    h2 Project:
      = project.name
    .actions
      ul
        li
          a(href: build_project_path(project), title: 'Rebuild project') Rebuild
        li
          a(href: edit_project_path(project), title: 'Edit project') Edit
        li
          a(href: delete_project_path(project), title: 'Delete project') Delete
        li
          a(href: projects_path(), title: 'Projects') Back

  .section-details
    h3 Builds:
    - if (project.builds)
      - each build in project.builds.sort(function(a, b) { return b.created_at - a.created_at })
        .build(class: build.success == true ? 'success' : 'failure')
          h4= build.created_at
          .build-output
            p STDOUT
            .stdout
              pre= build.stdout
            p STDERR
            .stderr
              pre= build.stderr
  .section-footer
    .actions
      ul
        li
          a(href: build_project_path(project), title: 'Rebuild project') Rebuild
        li
          a(href: edit_project_path(project), title: 'Edit project') Edit
        li
          a(href: delete_project_path(project), title: 'Delete project') Delete
        li
          a(href: projects_path(), title: 'Projects') Back
